body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: #ffffff !important;
    margin: 10px 10px;
}

.container {
    padding: 30px 10px;
    --bs-gutter-x: 0 !important;
}

#btn-talk:hover,
#btn-talk:active {
    background-color: #FE02AA !important;
    border-color: #FE02AA !important;
    color: #ffffff;
}

#btn-talk {
    color: #FE02AA;
    border-color: #FE02AA;
    border-width: 2px;
    border-radius: 50px;
    padding: 10px 20px;
}

.title {
    color: #141C3A;
    padding-bottom: 20px;
}

.first-text {
    margin-top: -10px;
}

.row {
    --bs-gutter-x: 0 !important;
}

#avatar {
    width: 580px !important;
    height: 580px !important;
    margin: 30px 0px;
}

@media screen and (max-width: 840px) {
    #avatar {
        width: 350px !important;
        height: 350px !important;
    }
}

.container-fluid {
    background-color: #FE02AA;
    padding: 150px 10px;
    padding-bottom: 200px;
}

.title-me,
.text-me {
    color: #ffffff;
}

.title-me {
    margin-bottom: 20px;
}

#grid-tools {
    border: 1px solid #FFD5DC;
    border-radius: 15px;
    margin-top: -100px;
    background-color: #ffffff;
}

#grid-rightBorder {
    border-right: 1px solid #FFD5DC;
}

.circle {
    height: 80px;
    width: 80px;
    background-color: #FFD5DC;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#tools-icons {
    height: 40px;
    width: 40px;
}

.title-tools {
    margin: 25px 0px;
    color: #141C3A;
}

.subtitle-tools {
    color:#FE02AA;
}

.fst-content,
.snd-content,
.trd-content,
.fth-content {
    margin: 60px 0px;
}

.title-work {
    margin-top: 60px;
    color: #141C3A;
}

.text-work {
    margin: 20px 0px;
}

#separator {
    color: #FE02AA;
}

.title-companies {
    margin-top: 60px;
    color: #141C3A;
}

.title-collaborations {
    margin-top: 60px;
    color: #141C3A;
}

.text-collaborations {
    margin: 20px 0px;
    margin-bottom: 50px;
}

.icon-conversation {
    height: 20px;
    width: 20px;
}

#btn-conversation {
    background-color: #FE02AA;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    border-color: #FE02AA;
    margin-bottom: 60px;
}

.text-footer {
    margin-top: -30px;
    color: #ffffff;
}

#btn-github,
#btn-instagram,
#btn-linkedin,
#btn-mail {
    border: 2px solid #FFD5DC;
    margin: 50px 10px;
    border-radius: 50px;
    background-color: #FE02AA;
    color: #ffffff;
}

#btn-github:active,
#btn-instagram:active,
#btn-linkedin:active,
#btn-mail:active,
#btn-github:hover,
#btn-instagram:hover,
#btn-linkedin:hover,
#btn-mail:hover {
    background-color: #FFD5DC;
    color: #FE02AA;
}

.link-socialmedia {
    text-decoration: none;
}

.bi {
    font-size: 20px;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: -190px;
}

.form-container {
    padding: 20px 570px;
}

.title-contact {
    color:#141C3A;
    margin: 50px 0px;
}

.g-2 {
    margin-bottom: 20px;
    border-color: #747A87;
    color: #747A87;
}

#btn-submit {
    border: 2px solid #FFD5DC;
    margin: 50px 10px;
    border-radius: 50px;
    background-color: #FE02AA;
    color: #ffffff;
}

#btn-submit:active,
#btn-submit:hover {
    background-color: #FFD5DC;
    color: #FE02AA;
}